.side-content-wrap {
  color: #666;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  border-color: rgba(0,0,0,.14);
  box-shadow: 0 3px 8px -6px rgba(0,0,0,.1);
  padding-bottom: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  font-size: 14px;
  .module-name {
    height: 60px;
    line-height: 60px;
    padding: 0 10px 0 28px;
    background: #f5f5f5;
    background: linear-gradient(#fff,#f5f5f5);
    border-bottom: 1px solid #dcdcdc;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 1px 7px rgba(0,0,0,.06);
    color: #646464;
    font-size: 18px;
  }
  .side-content {
    margin-top: 20px;
    p {
      margin-bottom: 7px;
    }
    p+h3 {
      margin-top: 20px;
    }
    dd, dt, li, p {
      padding: 0 30px;
      line-height: 1.8;
    }
    h3 {
      padding: 0 30px;
      margin-bottom: 20px;
      background: #E6E7E8;
      line-height: 40px;
      font-size: 14px;
      font-weight: 400;
    }
    dl {
      margin-bottom: 20px;
    }
    dt {
      padding: 10px 30px;
    }
  }
}